h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
  }
  h2 {
     font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: whitesmoke;
    
  }
  .titel-1  {
      background-color: mediumspringgreen;
  }
  .titel-2  {
    background-color: lightcoral;
}
.titel-3  {
    background-color: skyblue;
}
.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}